@import url('https://fonts.googleapis.com/css2?family=Anta&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Anta",sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url(bg4.png);
    background-size: cover;
    background-position: center;
}

.wrapper{
    width: 420px;
    background: transparent;
    border:2px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(7px);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}
.wrapper .inputbox{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.inputbox input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline:none;
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.inputbox input::placeholder{
    color: white;
}

.inputbox i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.wrapper .remember{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember label input{
    accent-color: rgb(53, 53, 251);
    margin-right: 3px;
    margin-left: 7px;
}
.remember a{
    color:white;
    text-decoration: none;
}
.remember a:hover{
    text-decoration: underline;
}
.wrapper .btn{
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.btn:hover{
    background-color:rgb(211, 210, 206);
    transition: all 200ms ease-in;
}
.btn:active{
    transform: scale(85%);
    transition: all 250ms ease-out;
}

.wrapper .register{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.register p a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.register p a:hover{
    text-decoration: underline;
}